

* {padding: 0; margin: 0; 	vertical-align: baseline; line-height: 1.4; border: 0;}
html {font-size: 20px; scroll-behavior: smooth;}
body {font-size: 1rem; color: #282829; }
#innerbody {max-width: 175rem; margin: 0 auto;position: relative;}
.container {max-width: 75rem; margin: 0 auto; position: relative;}
a {text-decoration: none;}
ul, ol {list-style-type: none;}
